<!DOCTYPE html>
<html>
    <head>
    	<link rel="shortcut icon" href="#">
        <title>
           Barcode analysis
        </title>
    </head>
    <body>
    	<h1>Barcode information</h1>
    	<p>Add all barcode information on this page. 
    	Barcodes are arranged into sets which occur at the same place in the read.  
    	A set of barcodes can be 'variable' or 'constant'.  
    	A 'constant' set of barcodes consists of the set of all sequences that can
    	be found at a specified place in the read.  All barcodes in a constant set must 
    	have the same length.  A 'variable' set of barcodes consists of all the sequences
    	found between the 'before' sequence and the 'after' sequence.  These 'barcodes' 
    	may be of any length. 
    	</p>
    	<form method="POST" action="">
      		<button class="new_const" type="button" onClick="addConstSet()">Add constant set</button>
      		<button class = "new_var" type="button" onClick="addVarSet()">Add variable set</button>
      		<p><input type="submit" value="Continue" id="submit"></p>
		</form>    
	<script type="text/javascript" src="{{url_for('static', filename='barcodes.js')}}"></script>
    </body>
</html>


